/********************************/
/* HEADER */
/********************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 3.2rem;
}

.logo {
  height: 2rem;
}

/********************************/
/* NAVIGATION */
/********************************/

.main-nav {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link {
  text-decoration: none;
  transition: ease-out 0.2s;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta {
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  /* font-size: 2rem; */
  font-weight: 600;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  transition: ease-out 0.2s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
  color: #fff;
}
/********************************/
/* HERO SECTION */
/********************************/

.section-hero {
  background-color: #fae5d3;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  max-width: 130rem;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  margin: 0 auto;
  gap: 4.8rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.secondary-button-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.hero-button-icon {
  width: 2rem;
  height: 2rem;
  fill: #555;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin: 6.4rem 0 0 0;
  gap: 3.2rem;
  align-items: center;
  flex-wrap: wrap;
}

.delivered-customers {
  display: flex;
  gap: 1rem;
}

.delivered-customers img {
  /* width: 100%; */
  width: 5.6rem;
  height: 5.6rem;
  height: auto;
  border-radius: 50%;
  margin-left: -3.2rem;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
  border: 3px solid #fae5d3;
}
.delivered-customers img:first-child {
  margin-left: 0;
}

.delivered-text {
  display: inline;
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/********************************/
/* SECTION FEATURED IN */
/********************************/

.section-featured-in {
  background-color: #fff;
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
  color: #888;
  text-transform: uppercase;
  /* letter-spacing: 0.075rem; */
  /* font-size: 2rem;
  margin-bottom: 3.2rem;
  line-height: 1.3;
  letter-spacing: -0.75rem; */
}

.featured-in-logos {
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-around;
}

.featured-in-logos a img {
  width: 100%;
  filter: brightness(0%) opacity(50%);
}

/********************************/
/* SECTION HOW */
/********************************/

.section-how {
  background-color: #fff;
  padding-top: 9.6rem;
  padding-bottom: 4.8rem;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before {
  position: absolute;
  content: " ";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fae5d3;
  border-radius: 50%;
  z-index: 0;
  transition: all ease-out 0.5s;
}

.step-img-box::after {
  position: absolute;
  content: " ";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background-color: #f8d8bd;
  border-radius: 50%;
  z-index: 1;
  transition: all ease-out 0.5s;
}

.step-img {
  width: 35%;
  z-index: 2;
}

.step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.6rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/********************************/
/* SECTION MEALS */
/********************************/

.section-meals {
  background-color: #fff;
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.meal:hover {
  transform: translateY(-1.2rem);
  cursor: pointer;
  transition: all 0.1s ease-in;
  box-shadow: 0 3.6rem 6rem rgba(0, 0, 0, 0.075);
}

.meal-img {
  /* border-radius: 1.2rem 1.2rem 0 0; */
  width: 100%;
}

.meal-text-box {
  padding: 3.2rem 3.2rem 4.8rem 3.2rem;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attributes li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* .meal-attributes li span {
} */

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #cf711f;
}
.meals-tags {
  margin-bottom: 1.6rem;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.meals-tag {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #888;
  border-radius: 100rem;
  color: #333;
  font-weight: 500;
}

.meals-tag.vegetarian {
  background-color: #94d82d;
}
.meals-tag.vegan {
  background-color: #51cf66;
}
.meals-tag.paleo {
  background-color: #fab005;
}

.diet {
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1); */
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 3.2rem 3.2rem 3.2rem 3.2rem;
}

.diet-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.diet-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.diet-list li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.diet-list-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #cf711f;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  /* padding-top: 6.4rem; */
}

/********************************/
/* SECTION TESTIMONIALS GALLERY */
/********************************/

.section-testimonials-gallery {
  display: grid;
  grid-template-columns: 60fr 40fr;
  background-color: #fae5d3;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6.4rem;
  column-gap: 9.6rem;
}

.testimonial img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonials-comment {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #666;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  display: block;
  transition: all 0.4s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/********************************/
/* SECTION PRICING */
/********************************/

.section-pricing {
  background-color: #fff;
  padding: 9.6rem 0;
}

.pricing-plan {
  align-self: stretch;
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 3.2rem 3.2rem 3.2rem 3.2rem;
  width: 75%;
  border: 0.2rem solid transparent;
  position: relative;
}

.pricing-plan.starter {
  justify-self: end;
  border-color: #fae5d3;
}

.pricing-plan.complete {
  background-color: #fae5d3;
}

.pricing-plan.complete::after {
  content: "Più Conveniente";
  position: absolute;
  padding: 0.8rem 6.4rem;
  display: block;
  /* border: 0.1rem solid #444; */
  background-color: #fad43b;
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  top: 3.5rem;
  right: -7rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.plan-price {
  font-size: 6.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
}

.plan-price span {
  font-size: 3.2rem;
  font-weight: 500;
  margin-right: 1.6rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #666;
}

.plan-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.plan-list li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.plan-list-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #cf711f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-additional-informations {
  font-size: 1.6rem;
  margin-bottom: 9.6rem;
  line-height: 1.6;
}

.feature-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #e67e22;
  color: #e67e22;
}

.feature-icon-container {
  margin-bottom: 3.2rem;
  background-color: #fae5d3;
  border-radius: 50%;
  padding: 1.6rem;
  display: inline-block;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 2.4rem;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

/********************************/
/* SECTION CALL TO ACTION */
/********************************/

.section-cta {
  background-color: #fff;
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 9.6em;
  /* height: 50rem; */
  background-color: #e67e22;
  box-shadow: 0 2.4rem 3.2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.6rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
  /* padding: 3.2rem; */
}

.cta-text-box {
  color: #45260a;
  padding: 6.4rem 0 6.4rem 6.4rem;
}

.cta-text-box .heading-2 {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-form {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 0.8rem;
  background-color: #fae5d3;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #888;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(250, 229, 211, 0.5) !important;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.3), rgba(230, 125, 34, 0.3)), url(./../img/eating.jpg);
  background-size: cover;
  /* border-radius: 1.6rem; */
}

/********************************/
/* FOOTER */
/********************************/

.footer {
  border-top: 0.1rem solid #fae5d3;
  background-image: linear-gradient(#fae5d3, #fff);
  padding: 12.8rem 0;
  /* font-size: 1.6rem;
  line-height: 1.6; */
}

.grid.footer-grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-socials {
  margin-bottom: auto;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  width: 3.2rem;
  fill: #e67e22;
}

.social-icon:hover {
  width: 3.2rem;
  fill: #cf711f;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #666;
}

.contacts {
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
}

.contacts.footer-heading {
  margin-bottom: 3.2rem;
}

.contacts p:first-child {
  margin-bottom: 3.2rem;
}

.contacts p a:link,
.contacts p a:visited {
  text-decoration: none;
  color: #666;
  transition: ease-in-out 0.2s;
}

.contacts p a:hover,
.contacts p a:active {
  color: #cf711f;
}

.footer-heading {
  font-size: 1.8rem;
  /* line-height: 1.8; */
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-list {
  list-style: none;
  font-size: 1.6rem;
}

.footer-list li {
  margin-bottom: 2.4rem;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.footer-list li a:link,
.footer-list li a:visited {
  text-decoration: none;
  color: #666;
  transition: ease-in-out 0.2s;
  border-bottom: 0.1rem solid transparent;
  padding-bottom: 0.1rem;
}

.footer-list li a:hover,
.footer-list li a:active {
  color: #cf711f;
  border-bottom: 0.1rem solid currentColor;
}
